@using Course.ViewModel
@model ICollection<StudentViewModel>
@{
    ViewData["Title"] = "Home Page";
}
@foreach (var item in Model)
{
    <p>Име : @item.Name</p>
    <p>Тотални кредити : @item.TotalCredits</p>
    foreach (var course in item.Courses)
    {
        <p style="padding-left:2em">Име на курса: @course.CourseName</p>
        <p style ="padding-left:2em">Кредити: @course.Credit</p>
        <p style="padding-left:2em">Време: @course.Time</p>
        <p style="padding-left:2em">Име на инструктора: @course.InstructorName</p>
    }
    <br />
}

